.chatMainContainer {
	width: 100vw;
	height: 100vh;
	display: flex;

	.sidebar {
		display: flex;
		flex-direction: column;
		min-width: 400px;
		height: inherit;
		border-right: 1px solid red;

		.sidebarLabel {
			width: inherit;
			background-color: aqua;
			padding: 16px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 26px;

			.modeContainer {
				display: flex;
				gap: 4px;
			}
		}
		.channelLsit {
			flex: 1;
			display: flex;
			flex-direction: column;
			.channelCard {
				display: flex;
				align-items: flex-start;
				gap: 12px;
				padding: 16px;
				padding-bottom: 20px;
				border-bottom: 1px solid red;

				.channelCardText {
					flex: 1;
					display: flex;
					flex-direction: column;
					gap: 8px;
				}
			}
		}
	}
	.chatlist {
		flex: 1;
		height: inherit;
		/* padding: 16px; */

		.chatListEmptyState {
			width: inherit;
			height: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.chatListSubContainer {
			display: flex;
			flex-direction: column;
			height: inherit;

			.sidebarLabel {
				width: inherit;
				background-color: aqua;
				padding: 16px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-height: 64px;
				.modeContainer {
					display: flex;
					gap: 4px;
				}
			}
			/* padding: 0px 16px 16px 16px; */

			.chatContainer {
				flex: 1;
				display: flex;
				flex-direction: column;
				padding: 16px 16px 16px 16px;

				overflow-y: auto;
				gap: 12px;

				.bubbleElement {
					padding: 8px 16px 8px 16px;
					max-width: 80%;
					color: #fff;
					border-radius: 13px;
				}
			}
			.inputContaneier {
				display: flex;
				gap: 16px;
				padding-left: 16px;
				padding-right: 16px;
				padding-bottom: 16px;
				align-items: center;

				.inputElement {
					width: calc(100% - 16px);
					height: 52px;
					padding: 10px;
					border: 1px solid #ccc;
					border-radius: 5px;
					resize: none;
					outline: none;
					font-size: 16px;
				}
			}
		}
	}
}
.chatMainContainer.light {
	background-color: #ffffff;
	background-image: url('https://transparenttextures.com/patterns/asfalt-dark.png');
}
.chatMainContainer.dark {
	background-color: #111;
	background-image: url('https://transparenttextures.com/patterns/asfalt-light.png');
}

.hoverContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	/* gap: 8px; */
}
