.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('https://assets-global.website-files.com/65b94b2bab54c86c1cd618a8/65b94b2cab54c86c1cd6197d_hero.jpg');
    background-position: center center;
    background-size: cover;
}